# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies //added line #5, 3.15.25 njw
/node_modules
node_modules/ 
/.pnp
.pnp.js

# testing
/coverage

# production //added lines #14-15, 3.15.25 njw
/build
client/dist/
client/build/

#logs //added logs 3.15.25 njw
logs
*.log

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


# IDE specific files //added IDE section 3.15.25 njw
.idea/
.vscode/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
